@font-face {
    src: local('FiraSansOTLight'),
         local('FiraSansLight'),
         local('Fira Sans OT Light'),
         local('Fira Sans Light'),
         url('../../media/fonts/FiraSans/firasansot-light-webfont.woff') format('woff'),
         url('../../media/fonts/FiraSans/firasansot-light-webfont.ttf') format('truetype'),
         url('../../media/fonts/FiraSans/firasansot-light-webfont.svg#fira_sans_otlight') format('svg');
    font-family: FiraSansWeb;
    font-weight: 300;
}
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
html {
    font-family: "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
}
body {
    margin: 0;
    padding: 6rem 0 0 36rem;
    background-color: #CCC;
}
.title, .button {
    font-family: "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
    font-style: italic;
    font-weight: 300;
}
.title, .info {
    color: #4D4D4D;
}
.title {
    margin: 0 0 16rem;
    font-size: 46px;
}
.info {
    margin-left: 4.5rem;
    font-size: 28px;
}
.button {
    position: absolute;
    right: 40.5rem;
    bottom: 41rem;
    width: 23.7rem;
    height: 7rem;
    border: 0;
    border-radius: 5.5rem;
    padding: 2rem 4.4rem;
    opacity: .7;
    font-size: 2.8rem;
    line-height: 1rem;
    color: #FFF;
    background: none;
    background-color: #000;
    transition-property: all;
    transition-timing-function: cubic-bezier(.25, 0, 0, 1);
    transition-duration: .42s;
}
.button:focus {
    transform: scale(1.2);
}
.button::-moz-focus-inner {
    border: 0;
}
