<div class="app-preview"></div>

<div class="app-list">
  {% defer (url=api('apps'), id='app-list', pluck='objects', as='apps', key='id') %}
    <ul class="clearfix">
      {% for app in this %}
        <li class="smart-button app-button focusable" data-id="{{ app.id }}">
          <div class="app-list-app">
            {% if app.icons['336'] %}
              <div class="icon" data-name="{{ app.name }}"
                   style="background-image: url('{{ app.icons['336'] }}');"></div>
            {% elif app.icons['128'] %}
              <div class="icon" data-name="{{ app.name }}"
                   style="background-image: url('{{ app.icons['128'] }}');"></div>
            {% endif %}

            {% if app.tv_featured %}
              <span class="star" data-icon="bookmark-on"></span>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% end %}
</div>

<menu type="context" id="contextmenu">
  <menuitem class="contextmenu-item"></menuitem>
</menu>
