<div class="offline-container">
  <div class="offline-description">
    <span class="title">{{ _('Unable to Connect') }}</span>
    <span class="content">{{ _('A network error occurred while trying to reach the site.') }}</span>
  </div>

  <div class="offline-control">
    <button class="smart-button offline-button focusable"
            data-type="rounded-corner-text"
            data-behavior="close">{{ _('Close') }}</button>
    <button class="smart-button primary offline-button focusable"
            data-type="rounded-corner-text"
            data-behavior="try-again">{{ _('Try again') }}</button>
  </div>
</div>
