<div class="privacy-container">
  <div class="privacy-window">
    <div class="privacy-content">
      <div class="scrollable">
        {% fetch (url=docs) %}
          <span class="spinner"></span>
        {% endfetch %}
      </div>

      <div class="scrollbar hidden">
        <div class="holder"></div>
        <div class="indicator"></div>
      </div>
    </div>

    <button class="smart-button primary privacy-button focusable"
            data-type="rounded-corner-text">{{ _('OK') }}</button>
  </div>
</div>
