/**
 * Colors.
 */

// Greyscale.
$greyscale-black = #1A1A1A;
$greyscale-dark-grey = #797979;
$greyscale-grey = #CBCBCB;
$greyscale-light-grey = #F1F1F1;
$greyscale-white = #FFF;

// Main.
$main-background-color = #CBCDCD;

// Suggested.
$suggested-star-color = #E22860;
$suggested-flag-color = #FF6C14;
