// Font Stacks
$primary-font-family = "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
$primary-italic-font-family = "Fira Sans OT Italic", "Fira Sans Italic", FiraSansItalicWeb, sans-serif;

$light-italic-font-family = "Fira Sans OT Light Italic", "Fira Sans Light Italic", FiraSansLightItalicWeb, sans-serif;
