{% if app.tv_featured %}
  <span class="suggested" data-icon="bookmark-on">{{ _('Suggested') }}</span>
{% endif %}

<div class="preview">
  {% if app.promo_imgs['640'] %}
    <img src="{{ app.promo_imgs['640'] }}"
         alt="{{ app.name }}" title="{{ app.name }}">
  {% elif app.promo_imgs['320'] %}
    <img src="{{ app.promo_imgs['320'] }}"
         alt="{{ app.name }}" title="{{ app.name }}">
  {% endif %}
</div>

<div class="detail">
  <h1 class="name">
    <span class="text">{{ app.name }}</span>
  </h1>
  <div class="provider">
    {% if app.developer_name %}
      <span>{{ _('by {author}')|format(author=app.developer_name) }}</span>
    {% endif %}
  </div>
  <span class="price hidden">{{ _('Free') }}</span>
  <article class="description">{{ app.description | safe }}</article>
</div>
