{% if app.tv_featured %}
  <div class="app-preview-suggested hidden" data-icon="bookmark-on">
    <span>{{ _('Suggested') }}</span>
    <span class="flag"></span>
  </div>
{% endif %}

<div class="app-preview-image invisible">
  {% if app.promo_imgs['640'] %}
    <img src="{{ app.promo_imgs['640'] }}"
         alt="{{ app.name }}" title="{{ app.name }}">
  {% elif app.promo_imgs['320'] %}
    <img src="{{ app.promo_imgs['320'] }}"
         alt="{{ app.name }}" title="{{ app.name }}">
  {% endif %}
</div>

<div class="app-preview-detail">
  <h1 class="name">
    <span class="text">{{ app.name }}</span>
  </h1>

  <div class="provider">
    {% if app.developer_name %}
      <span>{{ _('by {author}')|format(author=app.developer_name) }}</span>
    {% endif %}
  </div>

  <article class="description">{{ app.description | safe }}</article>
</div>
