{% if app.tv_featured %}
  <span class="suggested" data-icon="bookmark-on">{{ _('Suggested') }}</span>
{% endif %}

<div class="preview">
  <img src="{{ app.previews[0].image_url }}"
       alt="{{ app.name }}" title="{{ app.name }}">
</div>

<div class="detail">
  <h1 class="name">
    <span class="text">{{ app.name }}</span>
  </h1>
  <div class="provider">
    {% if app.author %}
      <span>{{ _('by {author}')|format(author=app.author) }}</span>
    {% endif %}
  </div>
  <span class="price hidden">{{ _('Free') }}</span>
  <article class="description">{{ app.description | safe }}</article>
</div>
