<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
                                   initial-scale=1, maximum-scale=1">
    <title>Firefox Web Apps</title>

    {% if compiled %}
      <link rel="stylesheet" href="/media/css/include.css">
    {% else %}
      <!--Add stylesheets here.-->
      <link rel="stylesheet" href="/media/css/normalize.css">
      <link rel="stylesheet" href="/media/css/typography.styl.css">
      <link rel="stylesheet" href="/media/css/gaia-device-icons-embedded.css">
      <link rel="stylesheet" href="/media/css/site.styl.css">
      <link rel="stylesheet" href="/media/css/app-preview.styl.css">
      <link rel="stylesheet" href="/media/css/app-list.styl.css">
      <link rel="stylesheet" href="/media/css/smart-button.styl.css">
      <link rel="stylesheet" href="/media/css/footer.styl.css">
      <link rel="stylesheet" href="/media/css/tutorial.styl.css">
      <link rel="stylesheet" href="/media/css/offline.styl.css">
      <link rel="stylesheet" href="/media/css/privacy.styl.css">
    {% endif %}
  </head>

  <body class="home" data-media="media/" contextmenu="contextmenu">
    <noscript><p>Sorry, you need JavaScript to use this site.</p></noscript>

    <main>
      <div id="page" class="page" role="main"></div>
    </main>

    <footer id="site-footer"></footer>

    {% if compiled %}
      <script src="/media/js/include.js" defer></script>
    {% else %}
      <script data-main="/media/js/main" src="/media/js/lib/require.js"></script>
    {% endif %}
  </body>
</html>
