/**
 * App preview area styles.
 */

@import 'lib';

$app-preview-background-color = #72C9B0;

.app-preview {
    position: absolute;
    top: 0;
    left: @top;

    display: flex;
    justify-content: space-around;

    width: 100%;
    height: rem(46.6);

    background-color: $app-preview-background-color;
    background-image: url('../img/pattern_overlay.png');
    background-size: cover;

    +ltr() {
        padding: rem(7.2) rem(18.5) rem(6.9) rem(15);
    }

    +rtl() {
        padding: rem(7.2) rem(15) rem(6.9) rem(18.5);
    }
}

.app-preview-suggested {
    position: absolute;
    top: rem(1.6);
    z-index: 1;

    display: flex;

    font-size: rem(1.9);
    line-height: rem(4.2);
    white-space: nowrap;

    color: $greyscale-white;

    &::before {
        width: rem(2.5);

        font-size: rem(4.2);
    }

    .flag {
        position: absolute;
        top: 0;

        width: rem(4);
        height: rem(4.2);

        background-image: url('../img/flag_R.png');
        background-size: cover;
    }

    +ltr() {
        left: 0;

        padding: 0 rem(.5) 0 rem(1);

        background: linear-gradient(90deg,
                                    $suggested-star-color,
                                    $suggested-flag-color);

        &::before {
            margin-right: rem(.5);
        }

        .flag {
            right: - rem(4);
        }
    }


    +rtl() {
        right: 0;

        padding: 0 rem(1) 0 rem(.5);

        background: linear-gradient(90deg,
                                    $suggested-flag-color,
                                    $suggested-star-color);

        &::before {
            margin-left: rem(.5);
        }

        .flag {
            left: - rem(4);

            transform: scaleX(-1);
        }
    }

    // chrome only
    @supports (-webkit-appearance:none) {
        +rtl() {
            &::before {
                text-indent: - rem(43.625);
            }
        }
    }
}

.app-preview-detail {
    position: relative;

    padding-top: rem(1);
    overflow: hidden;

    color: $greyscale-white;

    .name,
    .provider {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .name {
        height: rem(6.4);
        margin: 0;
        padding-bottom: rem(1.2);

        font-size: rem(5.2);
        font-weight: normal;
    }

    .provider {
        height: rem(6.3);
        padding-bottom: rem(4);

        font-size: rem(2.3);
        white-space: nowrap;

        color: $greyscale-white;
    }

    .description {
        height: rem(3.1 * 6);
        overflow: hidden;

        font-size: rem(2.6);
        line-height: rem(3.1);

        a {
            color: $greyscale-white;

            text-decoration: none;
        }
    }

    +ltr() {
        .name,
        .provider {
            margin-right: rem(12);
        }
    }

    +rtl() {
        .name,
        .provider {
            margin-left: rem(12);
        }
    }
}

.app-preview-image {
    flex: none;
    display: flex;
    justify-content: flex-end;

    width: rem(57.5);
    height: 100%;
    border-radius: rem(.6);
    overflow: hidden;

    color: transparent;

    transition: opacity 1s;

    &.invisible {
        opacity: 0;
    }

    img {
        width: auto;
        height: 100%;
        border-radius: rem(.6);
    }

    +ltr() {
        margin-left: rem(12);
    }

    +rtl() {
        margin-right: rem(12);
    }
}
