/**
 * App listing styles.
 */

@import 'lib';

$app-list-background-color = #CBCDCD;

.app-list {
    position: absolute;
    top: $app-preview-height;
    bottom: 0;
    left: 0;

    width: 100%;
    overflow: hidden;

    background-color: $app-list-background-color;

    ul {
        padding: 3.1rem 11.6rem;
    }

    li {
        float: left;
        margin: 2.9rem 2.6rem;

        list-style: none;
    }
}

.app-list-app {
    position: relative;

    width: 18.9rem;
    height: 18.9rem;
    outline: 0;

    smart-button-animation();

    &.focused {
        transform: scale(1.4);

        .icon {
            outline: .8rem solid $greyscale-white;
        }
    }

    &.pressed {
        transform: scale(1.22);

        transition-duration: .06s;

        .icon {
            outline: 1rem solid $greyscale-white;

            transition-duration: .06s;
        }
    }

    &.released {
        transition-duration: .16s;

        .icon {
            transition-duration: .16s;
        }
    }

    .icon {
        position: relative;

        width: 100%;
        height: 100%;
        border-radius: 50%;
        -moz-outline-radius: 60%;
        outline: 0;
        overflow: hidden;

        color: $greyscale-light-grey;
        background-color: $greyscale-light-grey;

        backface-visibility: hidden;

        smart-button-animation();
    }

    img {
        width: 100%;
        height: auto;
    }

    .name {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 6rem;
        padding: 1rem 3rem 0;
        overflow: hidden;

        font-size: 1.6rem;
        font-style: italic;
        line-height: 2.2rem;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: $greyscale-white;
        background-color: rgba(0, 0, 0, .4);
    }

    .star {
        position: absolute;
        top: 0;
        left: 0;

        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;

        line-height: 4.5rem;
        text-align: center;

        color: $suggested-star-color;
        background-color: $greyscale-white;;

        &::before {
            font-size: 4.5rem;
        }
    }
}
