/**
 * App listing styles.
 */

@import 'lib';

.app-list {
    position: absolute;
    top: rem(46.6);
    bottom: 0;
    left: 0;

    width: 100%;
    overflow: hidden;

    background-color: $main-background-color;

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: rem(12 - (3 + 2)) rem(11.6) rem(3 + 2);
    }

    li {
        margin: rem(3 + 2) rem(2.6) rem(12 - (3 + 2));

        list-style: none;

        &::before {
            content: ".";

            position: absolute;
            top: 0;
            left: @top;

            color: $main-background-color;
        }
    }

    .app-button {
        position: relative;

        width: auto;
        height: @width;

        font-family: $primary-italic-font-family;

        background-color: $main-background-color;

        cubic-bezier-transition();

        &.focused {
            transform: scale(1.2);
            cursor: pointer;

            .name {
                bottom: - rem(.8 + 2 + 2);
            }
        }

        &.pressed {
            transform: scale(1);

            .name {
                bottom: - rem(1 + 2 + 2);
            }
        }
    }

    .name {
        position: absolute;
        bottom: - rem(3 + 2);

        width: 100%;
        overflow: hidden;

        font-size: rem(1.8);
        line-height: rem(2);
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: $main-font-color;

        cubic-bezier-transition();
    }
}

.app-list-app {
    position: relative;

    width: rem(18.9);
    height: @width;
    outline: 0 solid $greyscale-white;
    -moz-outline-radius: 60%;

    background-color: $main-background-color;

    cubic-bezier-transition();

    .focused & {
        outline-width: rem(.8);
    }

    .pressed & {
        outline-width: rem(1);

        transition-duration: .06s;
    }

    .released & {
        transition-duration: .16s;
    }

    .icon {
        position: relative;

        width: 100%;
        height: @width;
        border-radius: 50%;
        overflow: hidden;

        color: $greyscale-light-grey;
        background-color: $greyscale-light-grey;
        background-size: cover;
        background-position: center center;
    }

    .star {
        position: absolute;
        top: 0;

        width: rem(4.5);
        height: @width;
        border-radius: 50%;

        line-height: @height;
        text-align: center;

        color: $suggested-star-color;
        background-color: $greyscale-white;;

        &::before {
            width: rem(2.7);

            font-size: rem(4.5);
            white-space: nowrap;
        }
    }

    +ltr() {
        .star {
            left: 0;
        }
    }

    +rtl() {
        .star {
            right: 0;
        }
    }

    // chrome only
    @supports (-webkit-appearance:none) {
        +rtl() {
            .star::before {
                text-indent: - rem(46.75);
            }
        }
    }
}

// chrome only
@supports (-webkit-appearance:none) {
    .app-list .app-button,
    .app-list-app {
        outline-color: $main-background-color;
    }
}
