/**
 * App preview area styles.
 */

@import 'lib';

.app-preview {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: $app-preview-height;

    background-color: $greyscale-black;
}
