/**
 * Footer styles.
 */

@import 'lib';

$footer-background-color = #BFC2C2;

#site-footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 8rem;
}

.footer {
    padding: 2.5rem 0;

    text-align: center;

    background-color: $footer-background-color;
}

.footer-link {
    display: block;
    outline: 0;

    font-family: $primary-font-family;
    font-size: 2.1rem;
    line-height: 3rem;

    color: $greyscale-white;

    cubic-bezier-transition();

    &:focus {
        transform: scale(1.2);
    }
}

.footer-logo {
    position: absolute;
    top: 2.4rem;
    right: 17rem;

    width: 117px;
    height: 32px;
    overflow: hidden;

    text-indent: 100%;
    white-space: nowrap;

    color: transparent;
    background-image: url('../img/powered_by_mozilla.png');
}
