/**
 * Offline styles.
 */

@import 'lib';

.offline-container {
    full-screen();

    background-image: url('../img/bg_loading_error.png');
    background-size: cover;
    background-position: center;
}

.offline-description,
.offline-control {
    centered-screen-horizontal();

    width: rem(100);

    text-align: center;
}

.offline-description {
    top: (46 / 108) * 100%

    color: $greyscale-white;

    .title,
    .content {
        display: block;
    }

    .title {
        margin-bottom: rem(.3);

        font-size: rem(5.2);
        line-height: @font-size;
    }

    .content {
        font-size: rem(2.6);
        line-height: rem(3.6);
    }
}

.offline-control {
    top: (70.6 / 108) * 100%;
}

.offline-button {
    margin: 0 rem(2);

    font-family: $primary-italic-font-family;
}
