/**
 * Offline styles.
 */

@import 'lib';

.offline-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url('../img/bg_loading_error.png');
    background-size: cover;
    background-position: center;
}

.offline-description,
.offline-control {
    position: absolute;
    left: 50%;

    width: 100rem;
    margin-left: -50rem;

    text-align: center;
}

.offline-description {
    top: (46 / 108) * 100%

    font-style: italic;

    color: $greyscale-white;

    .title,
    .content {
        display: block;
    }

    .title {
        margin-bottom: .3rem;

        font-size: 5.2rem;
        line-height: 5.2rem;
    }

    .content {
        font-size: 2.6rem;
        line-height: 3.6rem;
    }
}

.offline-control {
    top: (70.6 / 108) * 100%;
}

.offline-button {
    margin: 0 2rem;

    font-family: $primary-font-family;
}
