/**
 * Privacy Notice styles.
 */

@import 'lib';

$privacy-content-height = rem(70);
$privacy-background-color = #E0E2E4;
$privacy-scrollbar-color = #CACCCE;

.privacy-container {
    full-screen();

    background-color: $privacy-background-color;
}

.privacy-window {
    centered-screen();

    width: (161 / 192) * 100%;

    color: $main-font-color;
}

.privacy-content {
    max-height: $privacy-content-height;
    margin: 0 rem(-3) rem(11) 0;
    padding-right: rem(3);
    outline: none;
    overflow: hidden;

    .scrollable {
        cubic-bezier-transition();
    }

    h3 {
        margin: 0 0 rem(7);

        font-family: $light-italic-font-family;
        font-size: rem(7);
        line-height: @font-size;
        font-weight: normal;
        text-align: center;
    }

    ul {
        font-size: rem(2.6);
        line-height: rem(3.6);
    }

    li {
        margin-bottom: rem(3.6);

        list-style: none;
    }

    a {
        outline: none;

        font-weight: bold;

        color: $main-font-color;

        cubic-bezier-transition();

        &.focused {
            font-size: rem(3.12);
        }
    }

    .scrollbar {
        position: absolute;
        top: 0;
        right: - rem(3);

        width: rem(2);
        height: $privacy-content-height;
        outline: none;

        background-color: $privacy-scrollbar-color;
    }

    .holder {
        position: absolute;
        top: rem(.3);
        left: rem(.5);

        width: rem(1);
        height: rem(7.6);
        border-radius: rem(1);

        background-color: $greyscale-white;

        cubic-bezier-transition();
    }

    .indicator {
        position: absolute;
        left: rem(.3);
        bottom: @left;

        width: rem(1.4);
        height: rem(5.6);

        background-image: url('../img/indicator.png');
    }
}

.privacy-button {
    display: block;
    margin: 0 auto;

    font-family: $primary-italic-font-family;
}
