/**
 * Site-wide styles.
 */

@import 'lib';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: $primary-italic-font-family;
    font-size: 10px;
}

body {
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

menu {
    margin: 0;
}

.hidden {
    display: none;
}

main {
    height: 100%;
    padding-bottom: rem(8);

    background-color: $main-background-color;
}

.page {
    position: relative;

    height: 100%;
}
