/**
 * Spinner styles.
 */

@import 'lib';

@keyframes spinner {
    0%{
        background-position: 0 0;
    }

    100%{
        background-position: -6600px 0;
    }
}

.spinner {
    centered-screen();

    width: rem(20);
    height: @width;

    background-image: url('../img/spinner_sprite.png');

    animation: spinner 1.133s steps(33) infinite;
}
