/**
 * Tutorial styles.
 */

@import 'lib';

$shadow = 0 0 5px rgba(0, 0, 0, .5);

.tutorial-container {
    full-screen();

    z-index: 999;

    overflow: hidden;

    background-color: $greyscale-black;
}

.tutorial-slide {
    full-screen(absolute);

    transition: opacity 1s;

    &.invisible {
        opacity: 0;
    }

    &.hidden {
        display: block;
        opacity: 0;
        visibility: hidden;

        transition: none;

        .tutorial-button {
            display: none;
        }
    }
}

.tutorial-section-top,
.tutorial-section-bottom {
    centered-screen-horizontal();
}

.tutorial-section-top {
    width: rem(150);

    text-align: center;
    text-shadow: $shadow;

    color: $greyscale-white;

    .title {
        margin: rem(7.5) 0 rem(6.5);

        font-family: $light-italic-font-family;
        font-size: rem(5.5);
        line-height: @font-size;
    }

    .description {
        font-size: rem(3.8);
        line-height: rem(8);
    }

    b {
        display: inline-block;
        margin: 0 rem(.5);
        padding: 0 rem(4);
        border-radius: rem(4);
        box-shadow: $shadow;

        font-size: rem(3.8);
        font-weight: normal;
        text-align: center;

        background-color: $greyscale-black;
    }

    +ltr() {
        b {
            text-indent: rem(-.8);
        }
    }

    +rtl() {
        b {
            text-indent: rem(.8);
        }
    }
}

.tutorial-section-middle {
    width: 100%;
    height: @width;

    .circle {
        centered-screen-horizontal();

        top: (53.1 / 108) * 100%;

        width: rem(17.5);
        height: @width;
        border-radius: 50%;

        font-size: rem(1.5);
        line-height: @font-size;
        text-align: center;

        color: $greyscale-white;
        background-color: $greyscale-white;

        &::before {
            content: '';

            display: block;
            width: rem(7.2);
            height: @width;
            margin: rem(5.15) auto rem(6.65);

            background-image: url('../img/tutorial_install.png');
            background-size: cover;
        }
    }
}

.tutorial-section-bottom {
    bottom: rem(6);
}

.tutorial-image {
    width: 100%;
    height: @width;

    background-size: cover;
    background-position: center bottom;
}

for num in (1..3) {
    .tutorial-image-0{num} {
        background-image: url('../img/tutorial_' + num + '.png');
    }
}

.tutorial-button {
    margin: 0 rem(2);

    font-family: $primary-italic-font-family;

    &::-moz-focus-inner {
        border: 0;
    }
}
