/**
 * Tutorial styles.
 */

@import 'lib';

.slide-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: $greyscale-black;

    .slide {
        position: fixed;

        width: 100%;
        height: 100%;

        transition: opacity 1s;

        &.invisible {
            opacity: 0;
        }

        &.hidden {
            display: block;
            opacity: 0;
            visibility: hidden;

            transition: none;

            .slide-button {
                display: none;
            }
        }
    }
}

.slide-section-top,
.slide-section-bottom {
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
}

.slide-section-top {
    width: 150rem;

    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);

    color: $greyscale-white;

    .title {
        height: 5.5rem;
        margin: 7.5rem 0 6.5rem;

        font-family: $light-italic-font-family;
        font-size: 5.5rem;
        line-height: 5.5rem;
    }

    .description {
        height: 8rem;

        font-size: 3.8rem;
        line-height: 8rem;
    }

    b {
        display: inline-block;
        margin: 0 .5rem;
        padding: 0 4rem;
        border-radius: 4rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);

        font-size: 3.8rem;
        font-weight: normal;
        text-indent: -.8rem;
        text-align: center;

        background-color: $greyscale-black;
    }
}

.slide-section-middle {
    width: 100%;
    height: 100%;

    .circle {
        position: absolute;
        top: (53.1 / 108) * 100%;
        left: 50%;

        width: 17.5rem;
        height: 17.5rem;
        margin-left: -8.75rem;
        border-radius: 50%;

        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;

        color: $greyscale-white;
        background-color: $greyscale-white;

        &::before {
            content: '';

            display: block;
            width: 7.2rem;
            height: 7.2rem;
            margin: 5.15rem auto 6.65rem;

            background-image: url('../img/tutorial_install.png');
            background-size: 100% 100%;
        }
    }
}

.slide-section-bottom {
    bottom: 6rem;;
}

.slide-image {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center bottom;
}

for num in (1..3) {
    .slide-image-0{num} {
        background-image: url('../img/tutorial_' + num + '.png');
    }
}

.slide-button {
    margin: 0 2rem;

    font-family: $primary-italic-font-family;

    &::-moz-focus-inner {
        border: 0;
    }
}
