@font-face {
    src: local('FiraSansOT'),
         local('FiraSans'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url('../fonts/FiraSans/firasansot-regular-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-regular-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-regular-webfont.svg#fira_sans_otregular') format('svg');
    font-family: FiraSansWeb;
    font-weight: 400;
}

@font-face {
    src: local('FiraSansOTItalic'),
         local('FiraSansItalic'),
         local('Fira Sans OT Italic'),
         local('Fira Sans Italic'),
         url('../fonts/FiraSans/firasansot-regularitalic-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-regularitalic-webfont.svg#fira_sans_otregularitalic') format('svg');
    font-family: FiraSansItalicWeb;
    font-weight: 400;
}

@font-face {
    src: local('FiraSansOTLightItalic'),
         local('FiraSansLightItalic'),
         local('Fira Sans OT Light Italic'),
         local('Fira Sans Light Italic'),
         url('../fonts/FiraSans/firasansot-lightitalic-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-lightitalic-webfont.svg#fira_sans_otlightitalic') format('svg');
    font-family: FiraSansLightItalicWeb;
    font-weight: 300;
}
