@font-face {
    src: local('FiraSansOT'),
         local('FiraSans'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url('../fonts/FiraSans/firasansot-regular-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-regular-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-regular-webfont.svg#fira_sans_otregular') format('svg');
    font-family: FiraSansWeb;
    font-weight: 400;
}

@font-face {
    src: local('FiraSansOTLight'),
         local('FiraSansLight'),
         local('Fira Sans OT Light'),
         local('Fira Sans Light'),
         url('../fonts/FiraSans/firasansot-light-webfont.woff') format('woff'),
         url('../fonts/FiraSans/firasansot-light-webfont.ttf') format('truetype'),
         url('../fonts/FiraSans/firasansot-light-webfont.svg#fira_sans_otlight') format('svg');
    font-family: FiraSansLightWeb;
    font-weight: 300;
}
